{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<body>

{# STARTS: BOOTSTRAP CARDS WITH TEXT BELOW#}
    {# STARTS: CARD1 #}
        <div class="card mb-3">
            <img src="{{ asset('build/images/meal_1_unsplash.jpg') }}" class="ckpt4-ensemble logo-card-img-top" alt="...">
            <div class="ckpt4-card-body">
                <h5 class="card-title">NOUS</h5>
                <p class="card-text">Découvrez le cadre de vie de Wild Home, son histoire et les personnes qui font la vie de l'établissement.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    {# ENDS: CARD1 #}
    {# STARTS: CARD2 #}
        <div class="card">
            <div class="ckpt4-card-body">
                <h5 class="card-title">VOUS</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <img src="{{ asset('build/images/meal_2_unsplash.jpg') }}" class="ckpt4-ensemble card-img-bottom" alt="...">
        </div>
    {# ENDS: CARD2 #}
    {# STARTS: CARD3 #}
        <div class="card">
            <div class="ckpt4-card-body">
                <h5 class="card-title">ENSEMBLE</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <img src="{{ asset('build/images/meal_3_unsplash.jpg') }}" class="ckpt4-ensemble card-img-bottom" alt="...">
        </div>
    {# STARTS: CARD3 #}
{# ENDS: BOOTSTRAP CARDS WITH TEXT BELOW #}

</body>
{% endblock %}
