{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<body>

{# STARTS: BOOTSTRAP CARDS WITH TEXT BELOW#}
        <div class="card mb-3">
            <img src="{{ asset('build/images/logo_canvas.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">NOUS</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">VOUS</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <img src="/assets/images/meal_1_unsplash.jpg" class="card-img-bottom" alt="...">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">ENSEMBLE</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <img src="/assets/images/meal_1_unsplash.jpg" class="card-img-bottom" alt="...">
        </div>
{# ENDS: BOOTSTRAP CARDS WITH TEXT BELOW#}

</body>
{% endblock %}
