{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <body>

    <section class="ckpt4-row col-sm-8">
        <div class="ckpt4-card text-center">
            <div class="ckpt4-card-header">
            </div>
            <div class="ckpt4-card-body">
                <a href="{{ path('app_construction') }}" class="ckpt4-ensemble btn">
                    <h5 class="ckpt4-card-title">NOUS</h5>
                </a>
            </div>
            <div class="ckpt4-card-footer text-muted">
            </div>
        </div>
    </section>

    <section class="ckpt4-row col-sm-8">
        <div class="ckpt4-card text-center">
            <div class="ckpt4-card-header">
                Featured
            </div>
            <div class="ckpt4-card-body">
                <a href="{{ path('app_construction') }}" class="ckpt4-ensemble btn">
                    <h5 class="ckpt4-card-title">VOUS</h5>
                </a>
            </div>
            <div class="ckpt4-card-footer text-muted">
                2 days ago
            </div>
        </div>
    </section>

    <section class="ckpt4-row col-sm-8">
        <div class="ckpt4-card text-center">
            <div class="ckpt4-card-header">
                Featured
            </div>
            <div class="ckpt4-card-body">
                <a href="{{ path('app_construction') }}" class="ckpt4-ensemble btn">
                    <h5 class="ckpt4-card-title">ENSEMBLE</h5>
                </a>
            </div>
            <div class="ckpt4-card-footer text-muted">
                2 days ago
            </div>
        </div>
    </section>

    </body>
{% endblock %}
