<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Checkpoint 4 - Banner</title>
</head>
<body>
<div class="banner">

    <a href="../construction.html.twig"><h1>Admission</h1></a>


    <h1 class="footer-contact">NOUS</h1>
    <a href="{{ path('app_contact') }}">
        <h1>Contact</h1></a>
</div>
</body>
</html>