<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Checkpoint 4 - Banner</title>
</head>
<body>
<div class="banner">

    <a href="{{ path('app_construction') }}">
        <h1>Admission</h1>
        <p>suivi</p>
    </a>
    <h1 class="banner-message">BIENVENUE</h1>
    <a href="{{ path('app_contact') }}">
        <h1>Contact</h1>
        <p>suivi</p>
    </a>
</div>
</body>
</html>