<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Checkpoint 4 - Bouton</title>
</head>
<body>

    <button type="button" class="btn btn-primary btn-lg mon_compte">MON COMPTE</button>
    <button type="button" class="btn btn-secondary btn-lg deconnection">DÉCONNEXION</button>

</body>
</html>