<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Wild Home - Navbar</title>
</head>
<body>
<nav>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img class="ws-logo" src="{{ asset('build/images/test_logo_unsplash.jpg') }}" alt="Logo"/>Wild Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item-home">
                        <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16" >
                            </svg>
                        </a>

                    </li>
            {# STARTS: "NOUS" TAB #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            NOUS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Notre histoire</a></li>
                            <li><a class="dropdown-item" href="#">Notre projet</a></li>
                            <li><a class="dropdown-item" href="#">Nos équipes</a></li>
                        </ul>
                    </li>
            {# STARTS: "NOUS" TAB #}
            {# STARTS: "VOUS" TAB #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            VOUS
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Vos droits</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Les chambres</a></li>
                            <li><a class="dropdown-item" href="#">Les repas</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Les activités</a></li>
                            <li><a class="dropdown-item" href="#">Les services</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Les espaces communs</a></li>
                            <li><a class="dropdown-item" href="#">Les soins et les services</a></li>
                        </ul>
                    </li>
            {# ENDS: "VOUS" TAB #}
            {# STARTS: "CONTACT" TAB #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            CONTACT
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Nous trouver</a></li>
                            <li><a class="dropdown-item" href="#">Nous écrire</a></li>
                        </ul>
                    </li>
            {# ENDS: "VOUS" TAB #}
            {# STARTS: "ADMISSION" TAB #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ADMISSION
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Tarifs</a></li>
                            <li><a class="dropdown-item" href="#">Inscription</a></li>
                            <li><a class="dropdown-item" href="#">...</a></li>
                        </ul>
                    </li>
            {# ENDS: "ADMISSION" TAB #}
                </ul>

    <!-- Search form with sign up & sign in links below -->
                <h1 class="ckpt4-button-disconnection"><a href="#">DÉCONNEXION</a></h1>
                <h1 class="ckpt4-button-accessibility"><a href="#">ACCESSIBILITÉ</a></h1>
            </div>
        </div>

    </nav>

</nav>
</body>
</html>