* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
  position: relative;
}

a.ckpt4-back-to-list, a.ckpt4-edit {
  color: black;
}
/* HOME PAGE bootstrap cards customized */

.ckpt4-card-body {
  background-color: #944646;
  opacity: 10%;
}

.ckpt4-card-header, .ckpt4-card-footer {
  background-color: #2F2B2B;
  opacity: 20%;
}

h5.ckpt4-card-title {
  text-align: center;
  margin: 0;
  font-size: 3em;
}
/*
div.card.text-center {
  border: solid 2px #944646;
  border-radius: 10px;
}
*/
a.ckpt4-ensemble.btn {
  border: solid 1px grey;
}

.ckpt4-card-body {

}

/* PAGINATION */
ul.pagination {
position: center;
}

.pagination {
  position: fixed;

  bottom: 25vh;
}

nav.pagination {
  text-align: center;
}

/* *** RESPONSIVENESS *** */
@media screen and (min-width: 576px) {
  h5.ckpt4-card-title {
    font-size: 6em;
  }

}
