/* Can be part of variables:
    - font-family -> main, text, titles, paragraph, link, etc;
    - font-size -> main, text, titles, paragraph, link, etc;
    - spacing -> based on 8px multiples;
    - sizes -> either width & height, navbar, containers, etc;
    - animations and transitions;
    - etc.
*/
/*
:root {
  $ckpt4-primary-color: #944646;
  $ckpt4-secondary-color: #2F2B2B;
  $ckpt4-tertiary-color: #C8DAA2;
  */
  /*
    :root {
      $ckpt4-text-color: black;
      $ckpt4-title-color: var(--primary-color);
      $ckpt4-text-font: Raleway;
      $ckpt4-title-font: Impact;
      $ckpt4-text-font-size: 16pt;
      $ckpt4-title-font-size: 24pt;

      /* <------ LINK ------> */
/*
 $ckpt4-a-color: white;
 $ckpt4-a-color-hover: #b5838d;
 $ckpt4-a-color-active: #b5838d;
 */
  /* <------ BUTTON ------> */
/*
 $ckpt4-button-color: #AEBE7E;
 $ckpt4-button-text-color: #1C1C1C;
 $ckpt4-button-font: arial;
 $ckpt4-button-font-size: 16pt;
 $ckpt4-button-active: #b5838d;
 */
  /* <------ SIZES ------> */
  /*
  $ckpt4-navbar-height: 5vh;
  $ckpt4-footer-height: 10vh;


}*/