<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Checkpoint 4 - Banner</title>
</head>
<body>
<div class="banner">
    <h1>Admission</h1>
    <h1 class="footer-contact">NOUS</h1>
    <h1>Contact</h1>
</div>
</body>
</html>