<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Checkpoint 4 - Footer</title>
</head>
<body>
<div class="footer">
    <h1>Connexion</h1>
    <h1>Recrutement</h1>
    <h1>NOUS CONTACTER</h1>
    <h1>Liens utiles</h1>
    <h1>Mentions légales</h1>
</div>
</body>
</html>