{% extends 'base.html.twig' %}

{% block title %}Page en construction{% endblock %}

{% block body %}

    <div class="construction">
        <h1>EN CONSTRUCTION</h1>
            <h2>Cette page sera bientôt disponible</h2>
                <a href="{{ path('app_home') }}">
                <h3>Retour à l'accueil</h3></a>
    </div>

{% endblock %}